/Library/EditorInstance.json
/Library/ScriptAssemblies/Assembly-CSharp.pdb
/Temp/ProcessJobs/ab30c7bcae888f8a20ac9ec5bfbfa3a6.bakert
/Temp/UnityLockfile
/Temp/UnityTempFile-80111c82b4c87784ca857b77b627ffb1
/Temp/__Backupscenes/0.backup
